<%= simple_form_for @article, html: { class: 'input-form' } do |f| %>
  <div class="validation-errors">
    <%= render partial: 'alerts/validation_errors', locals: { f: f } %>
  </div>

  <div class="input-fields">
    <fieldset>
      <legend><%= I18n.t('issue.fieldset.metadata') %></legend>
      <%= f.input :title, as: :string %>
      <%= f.input :author, as: :string %>
      <%= f.input :magazine_id,
                  as: :select, 
                  collection: Magazine.all,
                  required: true,
                  input_html: { onChange: "foo();" },
                  prompt: I18n.t('select.magazine') %>
                  <div id="results"></div>
      <%= f.association :issue,
                  as: :select,
                  collection: Issue.all,
                  required: true,
                  prompt: I18n.t('select.issue') %>
      <%= f.input :page, as: :integer %>
      <%= f.input :blurb,
                  as: :text,
                  input_html: { rows: 4 },
                  hint: "The magazine's internal description of the article." %>
      <%= f.input :description,
                  as: :text,
                  input_html: { rows: 4 },
                  hint: "Include useful keywords for searching." %>
    </fieldset>
    <fieldset>
      <legend><%= I18n.t('article.fieldset.classifications') %></legend>
      <%= f.input :classification_id,
                  as: :select, 
                  collection: Classification.all,
                  label: I18n.t('activerecord.attributes.article.classification'),
                  required: true,
                  prompt: I18n.t('select.article_type') %>
      <%= f.input :language_id,
                  as: :select, 
                  collection: Language.all,
                  required: false,
                  prompt: I18n.t('select.language') %>
      <%= f.input :machine_ids,
                        as: :select, 
                        collection: Machine.all,
                        required: false,
                        input_html: { multiple: true, class: 'select2' } %>
      <%= f.input :tag_ids,
                        as: :select, 
                        collection: Tag.collection,
                        required: false,
                        input_html: { multiple: true, class: 'select2' },
                        hint: 'Curated subject tags to aid advanced searching.' %>
    </fieldset>
  </div>
  
  <div>
    <%= f.button :submit unless action_name == 'show' %>
  </div>

  <%= render partial: 'dynamic_issues', formats: [:js], locals: { f: f } %>
<% end %>
